.Button {
    background-color: #6278f7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 32px;
    border: none;
    cursor: pointer;
    color: #fff;
    margin: 32px 0;
}

.Button:hover {
    color: #95ffd4;
}
